<%- include('head') -%>
<body>
  <%- include('header') -%>
  <main>
    <div class="container home">
      <p>Welcome to this message board app. This app lets you post messages and see messages posted by others. The author and timestamp can only be seen through having member status yourself. To attain member status enter the code necessary on your member page. </p>
      <a href="/messages">Click here to view the message board.</a>
    </div>
  </main>
</body>
<%- include('foot') %>