<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <nav>
    <% if (locals.currentUser) { %>
      <% if (locals.currentUser.membership === 'member' || locals.currentUser.membership === 'admin') { %>
      <a href="/members">View members list</a>
    <% }} %>
    <a href="/messages">View message board</a>
    <a href="/login">Log in</a>
    <a href="/members/sign-up">Sign up</a>
  </nav>
</body>
</html>