<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in</title>
</head>
<body>
  <% if (locals.currentUser) { %>
    <h1>You are already logged in <%= locals.currentUser.firstName %></h1>
    <a href="/logout">Log out</a>
    <a href="/">Return Home</a>
  <% } else { %>
    <h1>Log in</h1>
    <form action="/login/password" method="post">
      <section>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" autocomplete="username" required autofocus>
      </section>
      <section>
        <label for="current-password">Password: </label>
        <input type="password" name="password" id="current-password" autocomplete="current-password" required>
      </section>
      <button type="submit">Log in</button>
    </form>
  <% } %>
</body>
</html>