<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Member Status</title>
</head>
<body>
  <%- include('nav') -%>
  <% if (locals.permission) { %>
    <h1>Update Member Status for: <%= name %></h1>
    <form action="" method="post">
      <label for="code">Input code for desired member status: </label>
      <input type="text" name="code" id="code">
      <button type="submit">Submit</button>
    </form>
    <% if (locals.message) { %>
      <%= locals.message %>
    <% } %>
  <% } else { %>
    <p>You do not have permission to update this member's status.</p>
  <% } %>
</body>
</html>