<nav>
  <a href="/">Home</a>
  <a href="/messages">Messages</a>
  <% if (locals.currentUser) { %>
    <% if (locals.currentUser.membership === 'member' || locals.currentUser.membership === 'admin') { %>
      <a href="/members">View members list</a>
    <% } %>
    <a href="/member/<%= locals.currentUser.id %>"><%= locals.currentUser.firstName %></a>
  <% }  else { %>
    <a href="/login">Log in</a>
    <a href="/sign-up">Sign up</a>
  <% } %>
</nav>